<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Form</title>
</head>
<body>
    <div class="user-form">
        <h1 class="title">Login</h1>
    <form action="<%= action  %>" method="POST">
    <input type="text"  name = "email" id = "email" >
     <input type="text" name="password" id= "password">
    <button type="submit">
        <%= button %>
    </button>
</form>
</div>
</body>
</html>